#### Importing Dependencies

In [2]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt

#### Getting the current working directory

In [4]:
os.getcwd()

'D:\\Imarticus Classes\\CAPSTONE PROJECT'

#### Getting the names of  list of files from the directory/folder

In [8]:
os.listdir()

['.ipynb_checkpoints',
 'Aman_Capstone Project .ipynb',
 'DataDictionary-Win_Prediction.xlsx',
 'My code for Project.ipynb',
 'Win Prediction Analytics.pdf',
 'Win_Prediction_Data.xlsx']

#### Reading the data

In [11]:
data=pd.read_excel('Win_Prediction_Data.xlsx')

In [13]:
data

,Client Category,Solution Type,Deal Date,Sector,Location,VP Name,Manager Name,Deal Cost,Deal Status Code
0,Telecom,Solution 7,2012-03-27,Sector 24,L5,Ekta Zutshi,Gopa Trilochana,150000.00,Won
1,Telecom,Solution 7,2012-09-25,Sector 24,L5,Ekta Zutshi,Gopa Trilochana,744705.88,Won
2,Internal,Solution 59,2011-08-01,Sector 20,Others,Ekta Zutshi,Russell Dahlen,60000.00,Lost
3,Internal,Solution 59,2011-04-28,Sector 20,Others,Ekta Zutshi,Russell Dahlen,60000.00,Lost
4,Internal,Solution 32,2011-06-03,Sector 20,Others,Ekta Zutshi,Russell Dahlen,80882.35,Lost
...,...,...,...,...,...,...,...,...,...
10056,Power ind,Solution 9,2019-03-18,Sector 9,L5,Rudraksh Sharma,Rudraksh Sharma,588235.29,Lost
10057,Internal,Solution 6,2019-03-04,Sector 20,Others,Rudraksh Sharma,Sharavan Singh,777058.82,Won
10058,Power ind,Solution 9,2019-02-28,Sector 9,L5,Rudraksh Sharma,Rudraksh Sharma,588235.29,Lost
10059,Power ind,Solution 62,2019-01-27,Sector 9,L5,Man Suddeth,Cleotilde Biron,3042058.82,Won
10060,Others,Solution 9,2019-05-30,Sector 12,L10,Son Mcconnaughy,Tarun Garg,147058.82,Lost

In [17]:
data.columns

Index(['Client Category', 'Solution Type', 'Deal Date', 'Sector', 'Location',
       'VP Name', 'Manager Name', 'Deal Cost', 'Deal Status Code'],
      dtype='object')

#### To check the Null Values

In [16]:
data.isnull().sum()

Client Category     79
Solution Type        0
Deal Date            0
Sector               0
Location             0
VP Name              0
Manager Name         0
Deal Cost            0
Deal Status Code     0
dtype: int64